<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/bundle.css">
  <link href="https://unpkg.com/prismjs@v1.x/themes/prism.css" rel="stylesheet" />
  <style>
        {% include "2019-10-14-css-transitions-post.css" %}
  </style>
</head>
<body>
    <script src="https://unpkg.com/prismjs@v1.x/components/prism-core.min.js"></script>
	<script src="https://unpkg.com/prismjs@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>
    <header class="flex justify-center">
        <div class="limited-width-70">
            <div class="flex justify-between align-center">
                <h1 class="bungee-regular"><a href="/"><span class="pink-text">Dana</span><span class="dark-text">Writes</span><span class="orange-text">Code</span></a></h1>
                <nav class="bungee-regular"><a href="/about">About</a></nav>
            </div>
        </div>
    </header>
    <main class="flex justify-center">
        <div class="limited-width-70">
            <h2>{{ title }}</h2>
            <time>{{ publish_date }}</time>
            <article>
                {{ content }}
            </article>
        </div>
    </main>
</body>
</html>